<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431961309140-pe68onrq2rn1teh2ebo1bjtcvl02chcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431961309140-pe68onrq2rn1teh2ebo1bjtcvl02chcf</string>
	<key>API_KEY</key>
	<string>AIzaSyDc-7ZWDCYG99whRFBIbgAM2fmEeNWVsew</string>
	<key>GCM_SENDER_ID</key>
	<string>431961309140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.rnfirebaseissue10demo</string>
	<key>PROJECT_ID</key>
	<string>rn-firebase-issue-10-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-firebase-issue-10-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431961309140:ios:39126f8f050f56b9062041</string>
</dict>
</plist>